.playlist {
  width: 100%;
  max-width: 23rem;
  height: 35rem;
  padding: 1.75rem;
  border-radius: 1.35rem;
  box-shadow: 0 1.75rem 1.75rem var(--shadow-color);
  color: var(--text-color);
  /* backdrop-filter: blur(10px); */
  background-color: var(--button-bg-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.playlist-body li .track-number {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Courier New", Courier, monospace;
  width: 1.5rem;
  flex-shrink: 0;
}

.playlist-body li .track-title {
  color: var(--text-color);
  font-weight: 600;
  flex: 1;
  font-family: "Courier New", Courier, monospace;
}

.playlist-body li .track-artist {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Courier New", Courier, monospace;
}

.playlist-body li .track-length {
  margin-left: auto;
  font-family: "Courier New", Courier, monospace;
  color: rgba(255, 255, 255, 0.6);
}

.playlist-body li {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.playlist li:hover {
  background-color: var(--button-hover-bg-color);
}
.playlist li.active {
  background-color: var(--button-hover-bg-color);
  font-weight: bold;
}
