.volume-control {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border-radius: 1.25rem;
    box-shadow: 0 1.75rem 1.75rem var(--shadow-color); */
}

.volume-percentage {
    font-size: 0.75rem;
    color: var(--text-color);
}

.volume-bar {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    height: 1rem;
    border: 0.1rem solid var(--text-color);
    border-radius: 1.25rem;
    box-shadow: 0 1.75rem 1.75rem var(--shadow-color);
}

.volume-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--button-bg-color);
}

/* .volume-100-mark {
    position: absolute;
    top: -2px;
    right: -1px;
    width: 2px;
    height: calc(100% + 4px);
    background-color: var(--text-color);
    border-radius: 1.25rem;
    box-shadow: 0 1.75rem 1.75rem var(--shadow-color);
} */

.volume-icon {
    display: flex;
    color: var(--text-color);
}
